<!-- header -->
<nav class="navbar navbar-default" style="background-color: #F2F2F2;">
    <div class="container-fluid ">
      <div class="navbar-header">
        <p class="navbar-text header">Artist Search</p>
      </div>
    </div>
</nav>


<app-artist-list></app-artist-list>

<!-- footer -->
<nav class="navbar navbar-default fixed-bottom" style="background-color: #082A43;">
    <div class="container-fluid justify-content-center">

        <a class="navbar-brand align-items-center" href="https://www.artsy.net/"
            style="color: white; text-decoration: none;">
            <p class="bottom footer" style="text-align:center; color:white; font-size: 15px;">Powered by <img
                    src="assets/images/artsy_logo.svg" width="20" height="20">Artsy.</p>
        </a>

    </div>
</nav>


<!-- <router-outlet></router-outlet> -->
